 <style>

body{
  background-image: url("https://images.theconversation.com/files/341551/original/file-20200612-153812-ws3rqu.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip");
  position: relative;
  background-repeat: no-repeat;
 
  
}

h1   {text-align: center;
color: #000;
		font-weight: bold;
		font-size: 3rem;
		animation: blinkingText 2s infinite;}
        
       @keyframes blinkingText{
		0%		{ color: #F31414;}
		25%		{ color: #F5830A;}
		50%		{ color: #F9EE12;}
		75%		{ color: #F605E3;}
		100%	{ color: #F60505;}
	}
    

form  { display: table;margin: 0 auto;
  
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-image: url("https://images.theconversation.com/files/341551/original/file-20200612-153812-ws3rqu.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip");
 
  background-position: left;
  background-repeat: no-repeat;
 background-size: 1300px 950px;
  position: relative;
}
lab{display: table-row;}
label{font-weight: bold;}


.container{  
text-align: center;
}
</style>

